  <div class="content-r">
    <!-- big banner image -->
    <div id="example">
      <div id="slides">
        <div class="slides_container">
          <div class="mobileHot">
            <a href=""><img src="assets/images/slide/slide1.png" /></a>
          </div>
          <div class="mobileHot">
            <a href=""><img src="assets/images/slide/slide2.png" /></a>
          </div>
          <div class="mobileHot">
            <a href=""><img src="assets/images/slide/slide3.jpg" /></a>
          </div>
          <div class="mobileHot">
            <a href=""><img src="assets/images/slide/slide4.png" /></a>
          </div>
          <div class="mobileHot">
            <a href=""><img src="assets/images/slide/slide5.png" /></a>
          </div>
        </div>
        <!-- end slide_contenter -->
        <!-- Start control button -->
        <a href="#" class="prev"><img src="assets/images/prev.png" width="28" height="44" alt="Arrow Prev"></a>
        <a href="#" class="next"><img src="assets/images/next.png" width="28" height="44" alt="Arrow Next"></a> <!-- End control button -->
      </div>
      <!-- end slide -->
    </div>
    <!-- end big banner image -->
    <!-- start slidingbox -->
    <div class="slidingbox">
      <div class="box-boxgrid-container">
        <div class="boxgrid caption">
          <a href=""><img src="assets/images/books/slidingbox1.jpg" alt="Muôn kiếp nhân sinh" /></a>
          <div class="cover boxcaption">
            <h3>Muôn kiếp nhân sinh</h3>
            <p>
              Giá tiền:
              117.600 VNĐ
              <br />
            </p>
            <p><a href="">Xem chi tiết</a></p>
          </div>
        </div>
      </div>
      <div class="box-boxgrid-container">
        <div class="boxgrid caption">
          <a href=""><img src="assets/images/books/slidingbox2.jpg" alt="Đừng Lựa Chọn An Nhàn Khi Còn Trẻ" /></a>
          <div class="cover boxcaption">
            <h3>Đừng Lựa Chọn An Nhàn Khi Còn Trẻ</h3>
            <p>
              Giá tiền:
              40.500 VNĐ
              <br />
            </p>
            <p><a href="">Xem chi tiết</a></p>
          </div>
        </div>
      </div>
      <div class="box-boxgrid-container">
        <div class="boxgrid caption">
          <a href=""><img src="assets/images/books/slidingbox3.jpg" alt="Đàn Ông Sao Hỏa Đàn Bà Sao Kim" /></a>
          <div class="cover boxcaption">
            <h3>Đàn Ông Sao Hỏa Đàn Bà Sao Kim</h3>
            <p>
              Giá tiền:
              110.820 VNĐ
              <br />
            </p>
            <p><a href="">Xem chi tiết</a></p>
          </div>
        </div>
      </div>
      <div class="box-boxgrid-container">
        <div class="boxgrid caption">
          <a href=""><img src="assets/images/books/slidingbox4.jpg" alt="Nóng Giận Là Bản Năng , Tĩnh Lặng Là Bản Lĩnh" /></a>
          <div class="cover boxcaption">
            <h3>Nóng Giận Là Bản Năng...</h3>
            <p>
              Giá tiền:
              44.500 VNĐ
              <br />
            </p>
            <p><a href="">Xem chi tiết</a></p>
          </div>
        </div>
      </div>
      <div class="box-boxgrid-container">
        <div class="boxgrid caption">
          <a href=""><img src="assets/images/books/slidingbox5.jpg" alt="Đắc Nhân Tâm (Khổ Lớn)" /></a>
          <div class="cover boxcaption">
            <h3>Đắc Nhân Tâm (Khổ Lớn)</h3>
            <p>
              Giá tiền:
              53.200 VNĐ
              <br />
            </p>
            <p><a href="">Xem chi tiết</a></p>
          </div>
        </div>
      </div>
      <div class="box-boxgrid-container">
        <div class="boxgrid caption">
          <a href=""><img src="assets/images/books/slidingbox6.jpg" alt="Mindmap English Grammar - Ngữ Pháp Tiếng Anh" /></a>
          <div class="cover boxcaption">
            <h3>Mindmap English Grammar</h3>
            <p>
              Giá tiền:
              119.700 VNĐ
              <br />
            </p>
            <p><a href="">Xem chi tiết</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- end slidingbox -->
  </div>
