<div class="content-r">
  <!-- big banner image -->
  <div id="example">
    <div id="slides">
      <div class="slides_container">
        <div class="mobileHot">
          <a href=""><img src="assets/images/slide/slide1.png" /></a>
        </div>
        <div class="mobileHot">
          <a href=""><img src="assets/images/slide/slide2.png" /></a>
        </div>
        <div class="mobileHot">
          <a href=""><img src="assets/images/slide/slide3.jpg" /></a>
        </div>
        <div class="mobileHot">
          <a href=""><img src="assets/images/slide/slide4.png" /></a>
        </div>
        <div class="mobileHot">
          <a href=""><img src="assets/images/slide/slide5.png" /></a>
        </div>
      </div>
      <!-- end slide_contenter -->
      <!-- Start control button -->
      <a href="#" class="prev"><img src="assets/images/prev.png" width="28" height="44" alt="Arrow Prev"></a>
      <a href="#" class="next"><img src="assets/images/next.png" width="28" height="44" alt="Arrow Next"></a> <!-- End control button -->
    </div>
    <!-- end slide -->
  </div>
  <!-- end big banner image -->
  <!-- start slidingbox -->
  <div class="slidingbox">
    <div class="box-boxgrid-container">
      <div class="boxgrid caption">
        <ng-container *ngIf="slidingbox.length && slidingbox != undefined">
          <a [routerLink]="['/detail']" [queryParams]="{id: slidingbox[0].id}">
            <img src="{{slidingbox[0].img}}" alt="slidingbox[0].name" />
          </a>
        </ng-container>
        <div class="cover boxcaption">
          <ng-container *ngIf="slidingbox.length && slidingbox != undefined">
            <h3>{{slidingbox[0].name | formatName : [0,24]}}</h3>
            <p>
              Giá tiền:
              {{slidingbox[0].price |currency :'':'':'1.0-3'}} VNĐ
              <br />
            </p>
            <p><a [routerLink]="['/detail']" [queryParams]="{id: slidingbox[0].id}">Xem chi tiết</a></p>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="box-boxgrid-container">
      <div class="boxgrid caption">
        <ng-container *ngIf="slidingbox.length && slidingbox != undefined">
          <a [routerLink]="['/detail']" [queryParams]="{id: slidingbox[1].id}">
            <img src="{{slidingbox[1].img}}" alt="slidingbox[1].name" />
          </a>
        </ng-container>
        <div class="cover boxcaption">
          <ng-container *ngIf="slidingbox.length && slidingbox != undefined">
            <h3>{{slidingbox[1].name | formatName : [0,24]}}</h3>
            <p>
              Giá tiền:
              {{slidingbox[1].price |currency :'':'':'1.0-3'}} VNĐ
              <br />
            </p>
            <p><a [routerLink]="['/detail']" [queryParams]="{id: slidingbox[1].id}">Xem chi tiết</a></p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="box-boxgrid-container">
    <div class="boxgrid caption">
      <ng-container *ngIf="slidingbox.length && slidingbox != undefined">
        <a [routerLink]="['/detail']" [queryParams]="{id: slidingbox[2].id}">
          <img src="{{slidingbox[2].img}}" alt="slidingbox[2].name" />
        </a>
      </ng-container>
      <div class="cover boxcaption">
        <ng-container *ngIf="slidingbox.length && slidingbox != undefined">
          <h3>{{slidingbox[2].name | formatName : [0,24]}}</h3>
          <p>
            Giá tiền:
            {{slidingbox[2].price |currency :'':'':'1.0-3'}} VNĐ
            <br />
          </p>
          <p><a [routerLink]="['/detail']" [queryParams]="{id: slidingbox[2].id}">Xem chi tiết</a></p>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="box-boxgrid-container">
    <div class="boxgrid caption">
      <ng-container *ngIf="slidingbox.length && slidingbox != undefined">
        <a [routerLink]="['/detail']" [queryParams]="{id: slidingbox[3].id}">
          <img src="{{slidingbox[3].img}}" alt="slidingbox[3].name" />
        </a>
      </ng-container>
      <div class="cover boxcaption">
        <ng-container *ngIf="slidingbox.length && slidingbox != undefined">
          <h3>{{slidingbox[3].name | formatName : [0,24]}}</h3>
          <p>
            Giá tiền:
            {{slidingbox[3].price |currency :'':'':'1.0-3'}} VNĐ
            <br />
          </p>
          <p><a [routerLink]="['/detail']" [queryParams]="{id: slidingbox[3].id}">Xem chi tiết</a></p>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="box-boxgrid-container">
    <div class="boxgrid caption">
      <ng-container *ngIf="slidingbox.length && slidingbox != undefined">
        <a [routerLink]="['/detail']" [queryParams]="{id: slidingbox[4].id}">
          <img src="{{slidingbox[4].img}}" alt="slidingbox[4].name" />
        </a>
      </ng-container>
      <div class="cover boxcaption">
        <ng-container *ngIf="slidingbox.length && slidingbox != undefined">
          <h3>{{slidingbox[4].name | formatName : [0,24]}}</h3>
          <p>
            Giá tiền:
            {{slidingbox[4].price |currency :'':'':'1.0-3'}} VNĐ
            <br />
          </p>
          <p><a [routerLink]="['/detail']" [queryParams]="{id: slidingbox[4].id}">Xem chi tiết</a></p>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="box-boxgrid-container">
    <div class="boxgrid caption">
      <ng-container *ngIf="slidingbox.length && slidingbox != undefined">
        <a [routerLink]="['/detail']" [queryParams]="{id: slidingbox[5].id}">
          <img src="{{slidingbox[5].img}}" alt="slidingbox[5].name" />
        </a>
      </ng-container>
      <div class="cover boxcaption">
        <ng-container *ngIf="slidingbox.length && slidingbox != undefined">
          <h3>{{slidingbox[5].name | formatName : [0,24]}}</h3>
          <p>
            Giá tiền:
            {{slidingbox[5].price |currency :'':'':'1.0-3'}} VNĐ
            <br />
          </p>
          <p><a [routerLink]="['/detail']" [queryParams]="{id: slidingbox[5].id}">Xem chi tiết</a></p>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- end slidingbox -->
</div>
