<div class="content-l">
  <div class="header-blue">
    <span class="title">Quản lý đơn hàng</span>
    <ul class="brands">
      <li><a [routerLink]="['/cart']">Giỏ hàng</a></li>
      <li><a [routerLink]="['/buy']">Danh sách đơn hàng</a></li>
    </ul>
  </div>
  <div class="header-blue">
    <span class="title">Quản lý sách</span>
    <ul class="brands">
      <li><a [routerLink]="['/mybook/add']">Thêm sản phẩm</a></li>
      <li><a [routerLink]="['/mybook/list']">Danh sách sản phẩm</a></li>
    </ul>
  </div>
  <div class="header-blue">
    <span class="title">Trang cá nhân</span>
    <ul class="brands">
      <li><a [routerLink]="['/profile/show']">Trang cá nhân</a></li>
      <li><a [routerLink]="['/profile/edit']">Cập nhật thông tin</a></li>
      <li><a [routerLink]="['/profile/pass']">Đổi mật khẩu</a></li>
      <li><a [routerLink]="['/logout']">Đăng xuất</a></li>
    </ul>
  </div>
  <div class="header-blue">
    <span class="title">Miễn phí giao hàng</span>
    <ul class="brands">
      <!-- add entity ship into book table -->
      <li><a [routerLink]="['/book']" [queryParams]="{type: 'freeship', id: '1'}">Có</a></li>
      <li><a [routerLink]="['/book']" [queryParams]="{type: 'freeship', id: '0'}">Không</a></li>
      <div class="list-group-item list-group-show js-list-show" style="display: block;border: none">
      </div>
    </ul>
  </div>
  <div class="header-blue">
    <span class="title">Tác giả</span>
    <ul class="brands">
      <ng-container *ngFor="let author of authors | slice : 0 : 6">
        <li>
          <a [routerLink]="['/book']" [queryParams]="{type: 'author', id: author.id}">
            {{author.name}}
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="check">
        <ng-container *ngFor="let author of authors; let i = index">
          <li *ngIf="i >= 6">
            <a [routerLink]="['/book']" [queryParams]="{type: 'author', id: author.id}">
              {{author.name}}
            </a>
          </li>
        </ng-container>
      </ng-container>
      <div class="list-group-item list-group-show js-list-show" style="display: block; border: none">
        <!-- thêm lại sự kiện click ng if -->
        <button (click)="toggle()"><b>Xem thêm </b>
          <fa-icon [icon]="setOnIcon()"></fa-icon>
        </button>
      </div>
    </ul>
  </div>
  <div id="AD_Zone_2"></div>
</div>
