<div class="content-r">
  <style>
    .mobile-price .item { vertical-align:middle}
                    .mobile-price .item p{ line-height:150%;}
                </style>
  <div class="nav">
    <ul class="left">
      <li><a href="">Trang chủ</a></li>
      <li><span> » </span></li>
      <li><a class="actived" [routerLink]="['/mybook/list']">Danh sách sản phẩm</a></li>
    </ul>
    <ul class="right">
    </ul>
  </div>
  <div class="header-info">
    <form method="post" action="/Mobile_Store/CartController">
      <table class="mobile-price" cellspacing="1">
        <tbody>
          <tr class="title-table-list-mybook">
            <th style="width:100px">
              Ảnh
            </th>
            <th style="width:70px">
              Sản phẩm
            </th>
            <th style="width:120px">
              Nhà xuất bản
            </th>
            <th style="width:60px">
              Sku
            </th>
            <th style="width:70px;">
              Giá tiền
            </th>
            <th style="width:20px;">
              Loại bìa
            </th>
            <th style="width:10px;">
              Số trang
            </th>
            <th style="width:100px;">
              Kích thước
            </th>
            <th style="width:100px;">
              Mô tả
            </th>
          </tr>
          <tr class="odd" *ngFor="let mybook of myBooks">
            <td class="item">
              <a class="image-mobile" title="{{mybook.name}}" [routerLink]="['/detail']" [queryParams]="{id : mybook.id}">
                 <img [src]="mybook.img | formatImage" width="150%" style="object-position: -15px 0;">
              </a>
            </td>
            <td class="item">
              <strong style="font-weight:bold;">
                <a [routerLink]="['/detail']" [queryParams]="{id : mybook.id}">
                  {{mybook.name}}
                </a>
              </strong>
            </td>
            <td class="item">
              <div>
                {{mybook.publisher}}
              </div>
            </td>
            <td class="item">
              <div>
                {{mybook.sku}}
              </div>
            </td>
            <td class="item">
              <span class="price-value">{{mybook.price | currency :'':'':'1.0-3'}} VNĐ</span>
            </td>
            <td class="item">
              {{mybook.cover}}
            </td>
            <td class="item">
              {{mybook.page}}
            </td>
            <td class="item">
              {{mybook.height}} - {{mybook.width}} cm
            </td>
            <td class="item">
              {{mybook.des}}
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
