<div id="content">
  <!-- box left -->
  <app-buy-content-l></app-buy-content-l>
  <!-- /box left -->
  <!-- box right -->
  <div class="content-r">
    <style>
      .mobile-price .item { vertical-align:middle}
                    .mobile-price .item p{ line-height:150%;}
                </style>
    <div class="nav">
      <ul class="left">
        <li><a href="">Trang chủ</a></li>
        <li><span> » </span></li>
        <li><a class="actived" [routerLink]="['/buy']">Thanh toán</a></li>
      </ul>
      <ul class="right">
      </ul>
    </div>
    <div class="header-info">
      <form method="post" action="/Mobile_Store/CartController">
        <table class="mobile-price" cellspacing="1">
          <tbody>
            <tr>
              <th style="width:100px">
                Ảnh
              </th>
              <th style="width:50px">
                Sản phẩm
              </th>
              <th style="width:100px">
                Nhà vận chuyển
              </th>
              <th>Phí giao hàng</th>
              <th style="width:90px;">
                Giá tiền
              </th>
              <th style="width:20px;">
                SL
              </th>
              <th style="width:100px;">
                Thành tiền
              </th>
            </tr>
            <tr class="odd" *ngFor="let item of items | paginate: { itemsPerPage: 4, currentPage: page }">
              <td class="item">
                <a class="image-mobile" title="{{item.name}}" href="#">
                  <img [src]="item.img | formatImage" width="150%" style="object-position: -15px 0;">
                </a>
              </td>
              <td class="item">
                <strong style="font-weight:bold;">
                  <a [routerLink]="['/detail']" [queryParams]="{id: item.idbook}">{{item.name}}
                  </a>
                </strong>
              </td>
              <td class="item">
                <div>
                  {{item.nameship}}
                </div>
              </td>
              <td class="item">
                <span class="price-value">{{item.priceship | currency :'':'':'1.0-3'}} VNĐ</span>
              </td>
              <td class="item">
                <span class="price-value">{{item.price | currency :'':'':'1.0-3'}} VNĐ</span>
              </td>
              <td class="item">
                <span><b>{{item.amount}}</b></span>
              </td>
              <td class="item">
                <span class="price-value">{{item.allprice | currency :'':'':'1.0-3'}} VNĐ</span>
              </td>
            </tr>
            <tr>
              <td colspan="8">
                <!-- phân trang -->
                <pagination-controls (pageChange)="handlePageChange($event)" previousLabel="" nextLabel="">
                </pagination-controls>
              </td>
            </tr>
            <tr>
              <td colspan="8">
                <p>
                  <b>Tổng tiền</b>:
                  <span class="price-value" *ngIf="items.length && items != undefined">
                    {{buys | sum : 'allprice' | currency : '' : '' : '1.0-3' }} VNĐ
                  </span>
                  <i style="font-style:italic"></i>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <p class="submit" style="padding:10px; 0px;">
          <input type="button" value="Hướng dẫn đặt hàng" [routerLink]="['/help']"> &nbsp;
          <input type="button" value="Tiếp tục mua hàng" [routerLink]="['']">
        </p>
      </form>
    </div>
  </div>
  <!-- box right -->
</div>
