<!-- box content -->
<div id="content">
  <!-- box left -->
  <app-one-content-l></app-one-content-l>
  <!-- end box left -->
  <!-- box right -->
  <app-one-content-r></app-one-content-r>
  <!-- End box right -->
</div>
<!-- end box content -->
<!-- The second content -->
<div class="content-lv2">
  <!-- 2nd Content left - Phone info -->
  <app-two-content-l></app-two-content-l>
  <!-- 2nd Content left - Phone info -->
  <!-- 2nd Content right - Phone info -->
  <app-two-content-r></app-two-content-r>
  <!-- End 2nd Content right - Phone info -->
</div>
<!-- End The second content -->
