<div id="footer">
  <div class="footer-c">
    <!-- <p class="footer-l"></p>
    <p class="footer-r"></p> -->
    <div>
      <strong>Trụ sở chính:</strong> Trường ĐH Tôn Đức Thắng
    </div>
    <div>
      <strong>Điện thoại:</strong> 0972.71.58.56
    </div>
    <div>
      <strong>Website: </strong>
      <a href="http://huynhtanloi.com">http://huynhtanloi.com</a> |
      <a href="http://loihuynh.com">http://loihuynh.com</a>
    </div>
    <div><strong>Email: </strong> <a href="mailto:loihuynh.it@gmail.com">loihuynh.it@gmail.com</a></div>
    <div><a href="loihuynh.it@gmail.com">©2020 LNA BookStore</a></div>
  </div>
  <div id='back_to_top'>
  </div>
</div>
